# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore TestNG Output
test-output/

# Ignore Browser Drivers
drivers/

# Ignore Compiled class files
*.class

# Ignore Executable files
*.exe

# Ignore Log files
*.log

# Ignore Package Files 
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Ignore Eclipse IDE files
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# Ignore External tool builders
.externalToolBuilders/

# Ignore PDT-specific
.buildpath

# Ignore Maven target folder
target/

# Ignore BlueJ files
*.ctxt

# Ignore virtual machine crash logs
hs_err_pid*

# Ignore some other folders
/.idea
/output
/target

# Mobile Tools for Java (J2ME)
.mtj.tmp/
